# Default ignored files
/../../../:ConsoleProgram/.idea/shelf/
/../../../:ConsoleProgram/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:ConsoleProgram/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:ConsoleProgram/.idea/dataSources/
/../../../:ConsoleProgram/.idea/dataSources.local.xml
